<%= render 'actions_nav' %>
<h2>Are you sure you would like to delete &ldquo;<%= @obj.unicode %>&rdquo;?</h2>
<%= simple_form_for [:admin, @obj], :method => :delete do |f| %>
  <div class="actions">
    <%= f.button :submit, 'Yes', :class => 'button delete' %> or <%= link_to "Cancel", url_for(:action => :index) %>
  </div>
<% end %>
