<%= render 'new_link' %>
<h2><%= params[:controller].split('/').last.titleize %></h2>
<%= render 'filters' %>
<% if @collection.any? %>
  <table>
    <%= render 'table_head' %>
    <%= render @collection %>
  </table>
  <%= paginate @collection %>
<% else %>
  <% additional_text = defined?(params[:q]) ? ' Modify your filters and try again.' : '' %>
  <h3>No <%= params[:controller].split('/').last.titleize %> were found.<%= additional_text %></h3>
<% end %>
